* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3c3c3c;
}

img {
  max-width: 100%;
}

.grid, .grid--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 900px;
  border-bottom: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
}

.grid--white {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.box__top-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  margin: 0 auto;
  width: 900px;
}

.top-lines--left, .top-lines--left--white {
  width: 240px;
  border-top: 1px solid #3c3c3c;
}

.top-lines--left--white {
  border-top: 1px solid #fff;
}

.top-lines--right, .top-lines--right--white {
  width: 240px;
  border-top: 1px solid #3c3c3c;
}

.top-lines--right--white {
  border-top: 1px solid #fff;
}

.content__box {
  width: 580px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.64px;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.64px;
}

h3 {
  display: block;
  position: relative;
  top: -22px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 5.76px;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding: 40px 0;
}

p {
  font-family: "Lato", sans-serif;
  width: 550px;
  text-align: center;
  line-height: 25px;
  padding-bottom: 10px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/hero-bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  color: #fff;
}

.hero__logo {
  display: inline-block;
  padding-bottom: 90px;
}

.hero__title {
  margin-bottom: 50px;
}

.hero__description {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.9px;
  line-height: 29px;
}

.hero__scroll {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: 2%;
  width: 23px;
  height: 37px;
  background-image: url("../img/scroll.svg");
  background-size: contain;
}

.section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.section__box--services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/services.jpg");
  min-height: 40vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: #fff;
}

.section__box--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3c3c3c;
  min-height: 60vh;
}

.section__body {
  font-size: 16px;
  line-height: 24px;
}

.section__we-do {
  height: 1415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3c3c3c;
}

.we-do__list {
  list-style: none;
  text-align: center;
}

.we-do__item {
  padding-top: 97px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
}

.footer__msg {
  width: auto;
  padding-left: 35px;
}

.section__contact-us {
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3c3c3c;
}

.we-do__list {
  list-style: none;
  text-align: center;
}

.we-do__item {
  padding-top: 97px;
}

.contact-us__btn {
  display: inline-block;
  cursor: pointer;
  background-color: #3c3c3c;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 23px 135px;
  margin: 45px 0;
  font-size: 16px;
  letter-spacing: 2.56px;
}

.section__img-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 485px;
  width: 100vw;
}

.img-scroll--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img-scroll__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 5px 5px 5px;
  margin-bottom: 5px;
  min-height: 237px;
  min-width: 802px;
}

.img-scroll__note {
  display: inline-block;
  position: absolute;
  bottom: 45px;
  left: 50px;
  text-transform: uppercase;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */