.section__contact-us{
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  color: $color-base;
}

.we-do__list{
  list-style: none;
  text-align: center;
}

.we-do__item{
  padding-top: 97px;
}

.contact-us__btn{
  display:inline-block;
  cursor:pointer;
  background-color: $color-base;
  border: none;
  text-transform: uppercase;
  color: $color-white;
  padding: 23px 135px;
  margin: 45px 0;
  font-size: 16px;
  letter-spacing: 2.56px;
}