h1{
  //font-size: 54px;
  @include page-title(54px);
}

h2{
  //font-size: 34px;
  @include page-title(34px);
}

h3{
  display: block;
  position: relative;
  top: -22px;
  font-family: $font-lato;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 5.76px;
}

h4{
  font-family: $font-lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding: 40px 0;
}

p{
  font-family: $font-lato;
  width: 550px;
  text-align: center;
  line-height: 25px;
  padding-bottom: 10px;
}